<div class="container setup-form">

    <div class="row padded">
        <div class="col-xs-12">
            <h1>Connect Galileo to Wifi</h1>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12 text-center">
            <p>This will let Galileo connect to your home wifi network.</p>
        </div>
    </div>

    <div class="row padded"
      ng-if="client_os !== 'Mac'">
        <!--TODO detect user's operating system and only show what they need to know -->
        <div class="col-xs-12 alert alert-warning"
          role="alert"
          ng-switch="client_os">
            <p ng-switch-when="Win">
                <strong>Windows</strong> users will need to make sure they have <a href="http://download.cnet.com/Bonjour-for-Windows/3000-18507_4-93550.html">Bonjour</a> before proceeding.
            </p>
            <p ng-switch-when="*nix">
                <strong>*nix</strong> users will need to make sure they have mDNS before proceeding. Essentially they must be able to ping &lt;hostname&gt;.local addresses. See:
                <a href="http://en.wikipedia.org/wiki/Zero-configuration_networking">
                    wikipedia introduction
                </a>,
                <a href="http://avahi.org/">
                    Avahi
                </a>,
                <a href="http://www.zeroconf.org/">
                    Zeroconf
                </a>.
            </p>
            <p ng-switch-default>
                <strong>Check</strong> to make sure your OS has mDNS before proceeding.
            </p>
        </div>
    </div>

    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.ssid"
              placeholder="Network">
        </div>
    </div>
    <div class="row padded">
        <div class="col-xs-12">
            <input ng-model="form.pwd"
              placeholder="Password"
              type="password">
        </div>
    </div>

    <div class="row">
        <div class="button wide submit"
          ng-click="submit()">
            Connect
        </div>
    </div>

</div>
